/* name: hojicha colors for waybar   */
/* url: https://github.com/Alexays/Waybar                        */
/* upstream: https://github.com/cdmill/neomodern.nvim/raw/main/extras/              */
/* author: Casey Miller               */

/* 
1. copy into ~/.config/waybar/
2. include at the top of your style.css:
@import "hojicha.css";
3. use colors in your style.css, e.g.:
* {
color: @func
}
*/

@define-color alt #8D978B;
@define-color bg #171614;
@define-color comment #68605F;
@define-color constant #717d6e;
@define-color fg #AEA09F;
@define-color func #6E665E;
@define-color keyword #8a7f76;
@define-color line #1F1E1C;
@define-color number #ab836c;
@define-color operator #5A6458;
@define-color property #808796;
@define-color string #b0a582;
@define-color type #8a879c;
@define-color visual #2A2927;
@define-color diag_red #D47E7E;
@define-color diag_blue #859DDE;
@define-color diag_yellow #AE976D;
@define-color diag_green #67896D;
