/* name: iceclimber colors for waybar   */
/* url: https://github.com/Alexays/Waybar                        */
/* upstream: https://github.com/cdmill/neomodern.nvim/raw/main/extras/              */
/* author: Casey Miller               */

/* 
1. copy into ~/.config/waybar/
2. include at the top of your style.css:
@import "iceclimber.css";
3. use colors in your style.css, e.g.:
* {
color: @func
}
*/

@define-color alt #ABBDEE;
@define-color bg #171719;
@define-color comment #61616A;
@define-color constant #6a969c;
@define-color fg #A0A0AF;
@define-color func #87a1e6;
@define-color keyword #8a88d1;
@define-color line #1F1F21;
@define-color number #cfa18c;
@define-color operator #6E6DA7;
@define-color property #cf9dbd;
@define-color string #90aba0;
@define-color type #B9B8E3;
@define-color visual #2A2A2B;
@define-color diag_red #E1848C;
@define-color diag_blue #86A3EE;
@define-color diag_yellow #B4966F;
@define-color diag_green #6E9277;
